/* Global variables */
:root {
    --primary-color: #004d61;
    --secondary-color: #e74c3c;
    --background-color: #f5f5f5;
    --font-color: #333;
    --overlay-background: rgba(255, 255, 255, 0.6);
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

.hero {
    position: relative;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.data {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--overlay-background);
    padding: 1rem;
    pointer-events: auto;
    max-width: 200px;
    border-radius: 15px;
}

.weather {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--overlay-background);
    padding: 1rem;
    pointer-events: auto;
    max-width: 200px;
    border-radius: 15px;
}

.weather h2, .data h2{
    background-color: #ffba52;
    padding: 5px;
    border-radius: 15px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.weather-icon {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    display: none; /* Hide by default */
}

/* Show the icon only on mobile screens (below 660px) */
@media (max-width: 660px) {
    .weather-icon {
        display: block; /* Show the icon on mobile */
    }
}


/* Pseudo element for weather icon */
.weather h2::after  {
    content: "⛅";
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

/* Media queries */
@media (max-width: 659px) {
    .overlay {
        position: static;
    }

    .data, .weather {
        position: static;
        max-width: 100%;
        margin: 1rem 0;
    }
}
